<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tweets</title>
  </head>
  <body>
    <h1>New Tweet</h1>
    <form method="post" action="/">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" autocomplete="off">
      <br>
      <label for="tweet">Tweet: </label>
      <textarea name="tweet" id="tweet"></textarea>
      <br>
      <button>Submit</button>
    </form>
  </body>
</html>
