<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <h1>
    The Home page
    <%= 4 +5 + 1 %>
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quibusdam
    delectus molestiae quisquam culpa ab vitae reiciendis possimus saepe
    minima ipsam quis sequi voluptatem, ex, rem consequatur odio? Ex, id!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
    praesentium veniam corporis aliquid corrupti culpa explicabo natus nulla
    vel magnam, quia sapiente ab ea reprehenderit repellendus quibusdam
    delectus? Omnis, porro. Eveniet rem, sint quisquam illum natus mollitia
    possimus alias debitis numquam facilis aliquam magnam a assumenda
    accusantium tenetur, voluptas fugit dolor temporibus incidunt quasi.
    Necessitatibus culpa unde voluptatum vel soluta?
  </p>
</body>

</html>
