<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pets</title>
  </head>
  <body>
    <h1><%= category %> Pets</h1> 
    <ul>
      <% for (let pet of pets) { %>
        <li><a href="/pets/<%=pet.id%>"> <%= pet.name %> </a></li>
      <% } %> 
    </ul>
    <a href="/pets/new">Add a new pet</a>
  </body>
</html>
